@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020202;
  overflow-x: hidden;
}

.main-height {
  height: calc(100dvh - 74px);
}

::-webkit-scrollbar {
  background: #060606;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 10px;
}

::selection {
  @apply bg-opacity-30 bg-[#9f43e8ff];
}

.h-fast {
  height: calc(100dvh - 56px);
}
